---
import { type CollectionEntry, getCollection } from "astro:content";
import PostsListLayout from "@/layouts/PostsListLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const tags = new Map<string, CollectionEntry<"blog">[]>();

  for (const post of posts) {
    if (post.data.categories) {
      const tag = post.data.categories;
      if (!tags.has(tag)) {
        tags.set(tag, []);
      }
      tags.get(tag)!.push(post);
    }
  }

  return Array.from(tags.entries()).map(([tag, posts]) => ({
    params: { tag },
    props: { tag, posts },
  }));
}

type Props = {
  tag: string;
  posts: CollectionEntry<"blog">[];
};

const { tag, posts } = Astro.props;
---

<PostsListLayout
  title={`Category â¬ ${tag}`}
  description={`Posts in the category ${tag}`}
  posts={posts}
>
  <span slot="title">{tag}</span>
</PostsListLayout>
