---
import InlineSearch from "@/components/InlineSearch.svelte";
import CardLayout from "@/layouts/CardLayout.astro";
---

<CardLayout title="Search" description="Search the blog posts">
  <noscript>
    <div>To use inline search, you should enable JavaScript.</div>
  </noscript>
  <InlineSearch client:load />
</CardLayout>
