---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import { Icon } from "astro-icon/components";

type Props = {
  note: CollectionEntry<"notes">;
};

const { note } = Astro.props;
const { Content } = await render(note);
---

<div class="note py-6 not-last:border-b border-base-content/20 rounded-none">
  <article class="text-sm md:text-base">
    <div class="note-meta flex items-center gap-2">
      <div class="note-time badge badge-soft badge-primary">
        <FormattedDate date={note.data.date} />
      </div>
      {
        note.data.tags?.map((tag) => (
          <span class="note-tag badge badge-soft badge-secondary">
            <Icon name="mingcute:tag-line" />
            {tag}
          </span>
        ))
      }
    </div>
    <div class="note markdown-body">
      <Content />
    </div>
  </article>
</div>
