---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FloatButtons from "@/components/FloatButtons.astro";
import type { ImageMetadata } from "astro";
import type { HTMLAttributes } from "astro/types";

type Props = {
  title: string;
  description: string;
  image?: ImageMetadata;
  maxw?: string;
  hasSidebar?: boolean;
} & HTMLAttributes<"div">;

const {
  title,
  description,
  image,
  class: className,
  hasSidebar,
  ...props
} = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class="overflow-y-scroll" class:list={[{ "has-sidebar": hasSidebar }]}>
    <div
      class="app bg-surface text-content md:flex lg:justify-center max-w-full"
    >
      {
        // div.app generates Header and the main content area.
        // For md screen:           For sm screen:
        //  ┌──────┬──────┬───────┐  ┌──────┐
        //  │      │      │       │  │header│
        //  │      │ main │       │  ├──────┤
        //  │header│      │       │  │      │
        //  │      ├──────┤sidebar│  │ main │
        //  │      │footer│       │  │      │
        //  └──────┴──────┴───────┘  ├──────┤
        //                           │footer│
        //                           └──────┘
      }
      <Header class="flex-[0_0_auto]" />
      <div
        class="main-and-footer__outer-container
        max-w-full min-h-screen overflow-x-hidden
        flex-(~ grow shrink basis-200) xl:flex-grow-0 at-md:justify-center"
      >
        <div class="flex-(~ col) w-full max-w-200">
          <main class=`flex-grow relative p-4 md:pt-6 ${className}` {...props}>
            <slot />
          </main>
          <Footer />
        </div>
      </div>
      <div
        class="sidebar__outer-container
              hidden print:hidden!
              flex-(grow-0 shrink) max-w-70 has-sidebar:flex-shrink-0
              md:(block relative has-sidebar:w-50)
              lg:(flex-shrink-0 has-sidebar:w-70)
              xl:w-70
              max-md:show-toc:(block fixed bottom-2 w-full max-w-full animate-(fade-in-up duration-300 ease-in-out))"
      >
        <div
          class="sidebar__inner-container sticky top-0 bg-surface pt-6 md:px-0 max-md:show-toc:(px-2 pt-4 border-(t base-300)) md:h-screen overflow-(y-auto x-visible)"
        >
          {
            // sometimes we will pass a sidebar which is not important.
            // just hide it is a good idea
          }
          <div class="hidden has-sidebar:block min-[55rem]:block">
            <slot name="sidebar" />
          </div>
        </div>
      </div>
      {/* END app */}
    </div>
    <FloatButtons />
  </body>
</html>
