---
import MarkdownText from "@/components/MarkdownText.astro";
import BaseLayout from "./BaseLayout.astro";

type LayoutProps = Parameters<typeof BaseLayout>[0];

type Props = {
  hasSidebar?: boolean;
  useMarkdown?: boolean;
} & LayoutProps;

const {
  title,
  hasSidebar = false,
  useMarkdown = false,
  ...props
} = Astro.props;
---

<BaseLayout title={title} hasSidebar={hasSidebar} {...props}>
  <article>
    <h1 class="page-title text-3xl font-bold">
      <slot name="title">
        {useMarkdown ? <MarkdownText text={title} inline={true} /> : title}
      </slot>
    </h1>
    <div>
      <slot />
    </div>
  </article>
  {hasSidebar && <slot name="sidebar" slot="sidebar" />}
</BaseLayout>
