---
import BaseLayout from "./BaseLayout.astro";

type LayoutProps = Parameters<typeof BaseLayout>[0];

type Props = {
  hasSidebar?: boolean;
} & LayoutProps;

const { title, hasSidebar = false, ...props } = Astro.props;
---

<BaseLayout
  title={title}
  hasSidebar={hasSidebar}
  class="flex gap-2 w-full"
  {...props}
>
  <div class="flex-grow-1 card card-lg rounded-lg">
    <article class="md:card-body">
      <div class="page-title text-3xl font-bold">
        <h1>{title}</h1>
      </div>
      <div>
        <slot />
      </div>
    </article>
  </div>
  {hasSidebar && <slot name="sidebar" slot="sidebar" />}
</BaseLayout>
